* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 1.5rem 0;
    padding: 0;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-left {
    width: 60%;
}
.navbar-right  {
    width: 100%;
}
#navigation {
    display: flex;
    justify-content: space-around;
}

#navigation a {
    color: #1e293b;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
}

#navigation a:hover {
    color: #4338ca;
}

.active {
    color: #4338ca;
    background-color: #dbeafe;
    padding: 0 1rem;
}

.bg {
    background-image: url(../assets/about-us.jpg);
    background-size: 100% 700px;
    height: 500px;
    object-fit: cover;
    padding: 5rem;
    margin: 2rem 0;
    color: #f3f4f6;
}

.line {
    width: 13.5%;
    border: 2px solid #7c3aed;
    border-radius: 10%;
    margin: 2rem  0;
}
.content {
    width: 85%;
    margin: 6rem auto;
}

.mission {
    display: flex;
    justify-content: space-between;
}
.mission img {
    width: 400px;
    height: 350px;
    object-fit: cover;
}
.location {
    display: flex;
    justify-content: space-between;
    padding: 6rem 0;
}

.location img {
    width: 400px;
    height: 350px;
    object-fit: cover;
}
.service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1.5rem 4rem;
    width: 100%;
}

.icon-logo img {
    width: 1.5rem;
    margin: 0.7rem ;
    border: 1px solid #e5e7eb;
    border-radius: 50%;
}